:root {
    /* colors */
    --header-bg-color: #49534f;
    --text-light-color: #f38326;
    --sidebar-bg-color: #1b3c44;
    --tile-bg-color: #007cef;
    --with-tile-bg-color: #3f434a;
    --with-list-bg-color: #ffdc40;

    /*sizes */
    --header-height: 120px;
    --footer-height: 76px;
    --tile-width: 360px;
}
