.header {
    @include boxshadow1;
    @include selfCenter;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 8px;
    background-color: var(--header-bg-color);
    color: var(--text-light-color);
    border-radius: 0 0 2px 2px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    height: var(--header-height);
    top: 0;
    @include mobile {
        display: flex;
        flex-direction: column;
        // height: var(--header-height-mobile);
    }

    & .option--desktop-visible {
        @include extendedmobile {
            display: none;
        }
    }

    &__element-container {
        @extend .flex---equal-item;
        display: flex;
        justify-content: center;
        align-items: center;
        &--flowing {
            @include mobile {
                order: 1;
            }
        }
        &--left {
            @include mobile {
                order: 2;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        &--right {
            @include mobile {
                order: 2;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }

        // @include mobile {
        //     order: 2;
        //     &--flowing {
        //         order: 1;
        //     }
        //     &--left {
        //         position: absolute;
        //         bottom: 0;
        //         left: 0;
        //     }
        //     &--right {
        //         position: absolute;
        //         bottom: 0;
        //         right: 0;
        //     }
        // }
    }

    & .option {
        font-weight: bolder;
        text-transform: capitalize;
    }

    &__title {
        font-size: larger;
        // text-transform: uppercase;
        font-weight: bold;
        color: var(--text-light-color);
    }
    &__central {
        min-width: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include mobile {
            order: 1;
        }
        // @include mobile {
        //     flex-direction: row;
        // }
    }

    & .language-switch-container {
        align-items: center;
        display: flex;
    }
}
